img{
    
    left:-1000px;
    position: fixed;
}

@keyframes slide15 {
  0% {
    left: -1000px;
    top: 0;
  }
  100% {
    left: 75px;
    top: 30px;
  }
}

#c1 {
  animation: slide15 1s ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards; 
    
}



@keyframes slide17 {
  0% {
    left: -1000px;
    top: 220px;
  }
  100% {
    left: 75px;
    top: 200px;
  }
}


#c2 {
  animation: slide17 1s ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards; 
     animation-delay: 2s;
    
}


@keyframes slide19 {
  0% {
    left: 300px;
    top: -100px;
  }
  100% {
    left: 265px;
    top: 200px;
  }
}


#c3 {
  animation: slide19 1s ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards; 
     animation-delay: 4s;
    
}

@keyframes slide20 {
  0% {
    left: -1000px;
    top: 475px;
  }
  100% {
    left: 500px;
    top: 200px;
  }
}


#c4 {
  animation: slide20 1s ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards; 
     animation-delay: 6s;
    
}



@keyframes slide21 {
  0% {
    left: 400px;
    top: -1000px;
  }
  100% {
    left: 75px;
    top: 420px;
  }
}


#c5 {
  animation: slide21 1s ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards; 
     animation-delay: 8s;
    
}


@keyframes slide22 {
  0% {
    left: 570px;
    top: -1000px;
  }
  100% {
    left: 285px;
    top: 425px;
  }
}


#c6 {
  animation: slide22 1s ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards; 
     animation-delay: 10s;
    
}



@keyframes slide23 {
  0% {
    left: 75px;
    top: 1000px;
  }
  100% {
    left: 440px;
    top: 425px;
  }
}


#c7 {
  animation: slide23 1s ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards; 
     animation-delay: 12s;
    
}



@keyframes slide24 {
  0% {
    left: 75px;
    top: 1000px;
  }
  100% {
    left: 73px;
    top: 670px;
  }
}


#c8 {
  animation: slide24 1s ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards; 
     animation-delay: 14s;
    
}


button {
  border: 0;
  background: #0087cc;
  border-radius: 4px;
  box-shadow: 0 5px 0 #006599;
  color: #fff;
  cursor: pointer;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 12px 20px;
  transition: all .1s linear;
    position: fixed;
    top: 950px;
    left: 600px;
        
}
button:active {
  box-shadow: 0 2px 0 #006599;
  transform: translateY(3px);
}
